@charset "UTF-8";

/*eSTILOS PARA IMPRESSORA*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}

/*Colocando endereço na hora de imprimir*/
article::after{
    content:'Esse artigo foi impresso no site: www.sidneyguimaraes.com' ;
}